.pull-left {
	float:left;
}

.pull-right {
	float:right;
}

body{
	font-family : 'Segoe UI', 'Segoe UI Web Regular', 'Segoe UI Symbol', 'Helvetica Neue', 'BBAlpha Sans', 'S60 Sans', Arial, sans-serif;
}