
input,textarea, select{
		border: 1px solid $inputBorderColor ;
		background-color: #fff;	
		padding: 4px 6px;
		margin-bottom:10px;
}

input,select {
	width: 100%;
	outline: none;
	width:206px;
	height: 28px;
	position: relative;
	&:focus{
		border-color: #000;
		outline: none;
	}
}

html input[disabled]{
	background-color:$disabledInputBackgroundColor;
	cursor:not-allowed;
}

input[type="checkbox"],input[type="radio"]{
	height:24px;
	width:24px;
}

label {
	display:block;

	&.checkbox,&.radio{
		vertical-align:top;

		&.inline{
			display:inline
		}
	}
}

select{
	vertical-align:middle;
	height:32px;
	line-height:32px;
	margin:4px 6px 6px 5px;
	&[multiple]{
		height:auto;
	}
}

.input-block-level{
	width:100%;
}

.input-mini{
	width:60px;
}

.input-small{
	width:90px;
}
.input-medium{
	width:150px;
}
.input-large{
	width:210px;
}
.input-xlarge{
	width:270px;
}
.input-xxlarge{
	width:530px;
}

form{
	margin: 0 0 20px;
}

fieldset{
	margin-top: 20px;
	border: 2px #eaeaea solid;
	padding: 10px;

	legend {
		padding-left: 10px;
		padding-right: 10px;
		font-weight: 300;
		letter-spacing: 0.02em;
		font-smooth: always;
		color: #cfcfcf;
	}

	label {
		display:block;
		margin-bottom:5px;
	}
}


.form-inline{
	input, label, button{
		display:inline-block;
		vertical-align:middle;
		margin-bottom:0;
	}
}

.form-horizontal {
	.control-label {
		float: left;
		width: 160px;
		padding-top: 5px;
		text-align: right;
	}
	.controls{
		margin-left: 180px;
	}
}


.input-prepend {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 0;
    white-space: nowrap;
    vertical-align: middle;

    .add-on{
        display: inline-block;
        width: auto;
        height: 28px;
        min-width: 24px;
        padding: 4px 5px;
        font-size:$baseFontSize;
        line-height:28px;
        text-align: center;
        text-shadow: 0 1px 0 #ffffff;
        background-color: #eeeeee;
        border: 1px solid #ccc;


    }

    button.add-on,.btn.add-on{
        height:38px;
    }

    input {
        border-left:none;
        position: relative;
        margin-bottom: 0;
        vertical-align: top;
    }

    
}

.input-append {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 0;
    white-space: nowrap;
    vertical-align: middle;

    .add-on{
        display: inline-block;
        width: auto;
        height: 28px;
        min-width: 24px;
        padding: 4px 5px;
        font-size:$baseFontSize;
        line-height:28px;
        text-align: center;
        text-shadow: 0 1px 0 #ffffff;
        background-color: #eeeeee;
        border: 1px solid #ccc;  
    }

    button.add-on,.btn.add-on{
        height:38px;
    }

    input {
        border-right:none;
        position: relative;
        margin-bottom: 0;
        vertical-align: top;
    }
}


.control-group.warning {
    .control-label {
        color:$warningColor;
    }

    input,select, textarea {
        border-color:$warningColor;
        color:$warningColor;
    }   

    .help-inline,.help-block{
        color:$warningColor;
    }
}

.control-group.error {
    .control-label {
        color:$errorColor;
    }

    input,select, textarea {
        border-color:$errorColor;
        color:$errorColor;
    }   

    .help-inline,.help-block{
        color:$errorColor;
    }
}

.control-group.info {
    .control-label {
        color:$infoColor;
    }

    input,select, textarea {
        border-color:$infoColor;
        color:$infoColor;
    }   

    .help-inline,.help-block{
        color:$infoColor;
    }
}

.control-group.success {
    .control-label {
        color:$successColor;
    }

    input,select, textarea {
        border-color:$successColor;
        color:$successColor;
    }   

    .help-inline,.help-block{
        color:$successColor;
    }
}

.help-block{
	display: block;
	margin-bottom: 10px;
}