.tooltip {
    position: absolute;
    z-index: 1030;
    display: block;
    font-size: 11px;
    line-height: 1.4;
    visibility: visible;    
    
    .tooltip-inner {
        max-width: 200px;
        padding: 8px;
        color: #ffffff;
        text-align: center;
        text-decoration: none;
        background-color: #000000;    
    }
    
    &.top{
        padding: 5px 0;
        margin-top: -3px;
        
        .tooltip-arrow {
            bottom: 0;
            left: 50%;
            margin-left: -5px;
            border-top-color: #000000;
            border-width: 5px 5px 0;    
        }
    }
            
    &.bottom{
        padding: 5px 0;
        margin-top: 3px;
        
        .tooltip-arrow {
            top: 0;
            left: 50%;
            margin-left: -5px;
            border-bottom-color: #000000;
            border-width: 0 5px 5px;   
        }
    }   
            
    &.left{
        padding: 0 5px;
        margin-left: -10px;
        
        .tooltip-arrow {
            top: 50%;
            right: 0;
            margin-top: -5px;
            border-left-color: #000000;
            border-width: 5px 0 5px 5px; 
        }
    }   
            
    &.right{
        padding: 0 5px;
        margin-left: 3px;
        
        .tooltip-arrow {
            top: 50%;
            left: 0;
            margin-top: -5px;
            border-right-color: #000000;
            border-width: 5px 5px 5px 0;
        }
    }           
}

.ui-tooltip {
	padding: 8px;
	position: absolute;
    margin-top:-10px;
	z-index: 9999;
	max-width: 200px;
	font-size: 11px;
    line-height: 1.4;
    padding: 8px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background-color: #000000; 
}
body .ui-tooltip {
	border-width: 0;
}         
.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}