
// Base
//====================
$baseFontSize: 14px;
$baseLineHeight: 20px;
$baseColor: #094AB2;
$successColor:#00a300;
$warningColor:#e3a21a;
$errorColor:#b91d47;
$infoColor:#2d89ef;

//dropdown
//====================
$dropdownBorder: $baseColor;
$dropdownBackground: White;

// Navbar
//====================

$navbarHeight:40px;
$navbarColor: $baseColor;
$navbarTextColor: White;
$navbarBrandColor: White;
$navbarBackgroundHighlight: #eee;
$navbarLinkColor: White;
$navbarLinkColorActive: White;
$navbarLinkColorHover: White;
$navbarLinkBackgroundHover: darken($navbarColor,5%);
$navbarLinkBackgroundActive: darken($navbarColor,7%);


//Sidebar
//====================
$sideBarBackground:#f3f3f3;
$sideBarWidth:180px;
$sideBarFirstLevelFontSize : 21px;
$sidebarSeparatorColor:darken($sideBarBackground,10%);
$activeOptionColor: rgb(212, 212, 212);

//tables
//=====================
$tableBorderColor:#ddd;
$tableStripeColor: #f9f9f9;
$hoveredBorderColor:#1c98cc ;
$hoveredBackgroundColor:rgba(28, 183, 236, 0.1);

//buttons
//====================
$buttonMinWidth:90px;
$buttonMinHeight:2*$baseFontSize;
$baseButtonColor:#ccc;
$disabledButtonColor:#eaeaea;
$disabledButtonText:#bebebe;
$primaryButtonColor:#008287;
$infoButtonColor:$infoColor;
$successButtonColor:$successColor;
$warningButtonColor:$warningColor;
$dangerButtonColor:$errorColor;

//tipography
//====================
$blockquoteBackgroundColor:rgba(204, 204, 204, 0.1);