
// Base
//====================
$baseFontSize: 14px;
$baseLineHeight: 20px;
$baseColor: #094AB2;


// Navbar
//====================

$navbarHeight:40px;
$navbarColor: $baseColor;
$navbarTextColor: White;