
// Base
//====================
$baseFontSize: 14px;
$baseLineHeight: 20px;
$baseColor: #094AB2;


//dropdown
//====================
$dropdownBorder: $baseColor;
$dropdownBackground: White;

// Navbar
//====================

$navbarHeight:40px;
$navbarColor: $baseColor;
$navbarTextColor: White;
$navbarBrandColor: White;
$navbarBackgroundHighlight: #eee;
$navbarLinkColor: White;
$navbarLinkColorActive: White;
$navbarLinkColorHover: White;
$navbarLinkBackgroundHover: darken($navbarColor,5%);
$navbarLinkBackgroundActive: darken($navbarColor,7%);


//Sidebar
//====================
$sideBarBackground:#f3f3f3;
$sideBarWidth:200px;
$sidebarSeparatorColor:darken($sideBarBackground,10%);